Repository miketui/Fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

epub-asset-validation:
  name: EPUB Asset Validation
  entry: node scripts/validate-assets.js
  language: node
  pass_filenames: false

epub-path-regression-test:
  name: EPUB Path Reference Regression Test
  entry: node tests/regression/path-reference-test.js --allow-regressions
  language: node
  pass_filenames: false

xhtml-formatting:
  name: XHTML Formatting Check
  entry: scripts/format-xhtml.sh
  language: script

epub-structure-validation:
  name: EPUB Structure Validation
  entry: ./validate-epub.sh
  language: script
  pass_filenames: false

feat(build): add automated EPUB build, validation, and device compatibility
  README.md
  dist/test.epub
  dist/test2.epub
  package.json
  scripts/build-epub.sh
  scripts/device-compat.js
  scripts/validate-toc.js
  validate-epub.sh
Due: none

fix(validation): add EPUBCheck report and fix broken path references
  asset-validation-report.json
  asset-validation-report.md
  epub-integration-test-report.json
  epub-integration-test-report.md
  epubcheck-report.json
  epubcheck-report.txt
  multi-format-validation-report.json
  multi-format-validation-report.md
  path-reference-regression-report.json
  path-reference-regression-report.md
  performance-metrics-report.json
  performance-metrics-report.md
  performance-metrics.json
  xhtml-xml-parse-report.txt
Due: none

chore(external): add EPUB validation reports and remove invalid XHTML report
  _external/external-epubcheck.json
  _external/external-epubcheck.txt
  _external/madison-xhtml-xml-report.txt
  _external/text-compare-report.json
Due: none

feat(a11y/assets): convert section headings to semantic h2; normalize image extensions to lowercase and update all references; normalize root mimetype for EPUB packaging
  mimetype
Due: none

feat(epub): add EPUB build with asset optimization and validation
  asset-optimization-report.json
  asset-optimization-report.md
  dist/curls-and-contemplation.epub
  dist/epubcheck-output.json
  dist/epubcheck-output.txt
Due: none

chore(optimize): apply image optimizations; keep font files unchanged; rebuild EPUB and validate
  OEBPS/images/chapter-frame.png
  asset-optimization-report.json
  asset-optimization-report.md
  dist/curls-and-contemplation.epub
  dist/epubcheck-output.json
Due: none

chore(repo): remove external reference folder from repo and ignore it
  .gitignore
  _external/book-files-text-stats.json
  _external/book-files-text-stats.md
  _external/external-epubcheck.json
  _external/external-epubcheck.txt
  _external/madison-xhtml-xml-report.txt
  _external/text-compare-report.json
Due: none

chore(qa): add Visual Style QA agent + reports; add generated DOCX and self-contained HTML
  dist/curls-and-contemplation.docx
  dist/curls-and-contemplation.html
  reports/findings.json
  reports/summary.md
  scripts/visual-style-qa.mjs
Due: none

feat(xhtml): add missing XML declarations to complete XHTML compliance
  OEBPS/text/1-TitlePage.xhtml
  OEBPS/text/12-Part-II-Building-Your-Professional-Practice.xhtml
  OEBPS/text/18-Part-III-Advanced-Business-Strategies.xhtml
  OEBPS/text/2-Copyright.xhtml
  OEBPS/text/24-Part-IV-Future-Focused-Growth.xhtml
  OEBPS/text/28-Conclusion.xhtml
  OEBPS/text/29QuizKey.xhtml
  OEBPS/text/3-TableOfContents.xhtml
  OEBPS/text/30-SelfAssessment.xhtml
  OEBPS/text/31-affirmations-close.xhtml
  OEBPS/text/32-continued-learning-commitment.xhtml
  OEBPS/text/33-Acknowledgments.xhtml
  OEBPS/text/34-AbouttheAuthor.xhtml
  OEBPS/text/35-CurlsContempCollective.xhtml
  OEBPS/text/36-JournalingStart.xhtml
  OEBPS/text/37-ManifestingJournal.xhtml
  OEBPS/text/38-journal-page.xhtml
  OEBPS/text/39-professional-development.xhtml
  OEBPS/text/4-Dedication.xhtml
  OEBPS/text/40-SMARTGoals.xhtml
  OEBPS/text/41-self-care-journal.xhtml
  OEBPS/text/42-VisionJournal.xhtml
  OEBPS/text/43-DoodlePage.xhtml
  OEBPS/text/44-bibliography.xhtml
  OEBPS/text/5-SelfAssessment.xhtml
  OEBPS/text/6-affirmation-odyssey.xhtml
  OEBPS/text/7-Preface.xhtml
  OEBPS/text/8-Part-I-Foundations-of-Creative-Hairstyling.xhtml
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

chore(validation-report): update asset counts and timestamp in validation reports
  asset-validation-report.json
  asset-validation-report.md
Due: none

Implement ACISS v2 chapter title page design with brushstroke overlay
  OEBPS/styles/style.css
  OEBPS/text/10-chapter-ii-refining-your-creative-toolkit.xhtml
  OEBPS/text/11-chapter-iii-reigniting-your-creative-fire.xhtml
  OEBPS/text/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml
  OEBPS/text/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml
  OEBPS/text/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  OEBPS/text/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  OEBPS/text/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
  OEBPS/text/19-chapter-ix-stepping-into-leadership.xhtml
  OEBPS/text/20-chapter-x-crafting-enduring-legacies.xhtml
  OEBPS/text/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml
  OEBPS/text/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml
  OEBPS/text/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml
  OEBPS/text/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml
  OEBPS/text/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml
  OEBPS/text/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml
  OEBPS/text/9-chapter-i-unveiling-your-creative-odyssey.xhtml
  dist/curls-and-contemplation-updated.epub
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Add files via upload
  AGENTS.md.md
  brushstroke.svg
  codex_commands.md
  epub_qa.md
  image_optimization.pdf
  image_optimization_guide.md
  package.opf
  setup.sh
  workflow_guide.md
Due: epub-asset-validation, epub-path-regression-test, epub-structure-validation

Align content manifest brushstroke svg id
  OEBPS/content.opf
  OEBPS/images/brushstroke.svg
  OEBPS/styles/style.css
  OEBPS/text/10-chapter-ii-refining-your-creative-toolkit.xhtml
  OEBPS/text/11-chapter-iii-reigniting-your-creative-fire.xhtml
  OEBPS/text/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml
  OEBPS/text/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml
  OEBPS/text/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  OEBPS/text/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  OEBPS/text/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
  OEBPS/text/19-chapter-ix-stepping-into-leadership.xhtml
  OEBPS/text/20-chapter-x-crafting-enduring-legacies.xhtml
  OEBPS/text/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml
  OEBPS/text/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml
  OEBPS/text/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml
  OEBPS/text/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml
  OEBPS/text/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml
  OEBPS/text/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml
  OEBPS/text/9-chapter-i-unveiling-your-creative-odyssey.xhtml
  package.opf
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

feat(epub): update book metadata and replace brushstroke images with SVG
  OEBPS/content.opf
  OEBPS/images/brushstroke.svg
  OEBPS/text/10-chapter-ii-refining-your-creative-toolkit.xhtml
  OEBPS/text/11-chapter-iii-reigniting-your-creative-fire.xhtml
  OEBPS/text/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml
  OEBPS/text/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml
  OEBPS/text/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  OEBPS/text/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  OEBPS/text/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
  OEBPS/text/19-chapter-ix-stepping-into-leadership.xhtml
  OEBPS/text/20-chapter-x-crafting-enduring-legacies.xhtml
  OEBPS/text/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml
  OEBPS/text/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml
  OEBPS/text/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml
  OEBPS/text/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml
  OEBPS/text/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml
  OEBPS/text/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml
  OEBPS/text/9-chapter-i-unveiling-your-creative-odyssey.xhtml
  asset-validation-report.json
  asset-validation-report.md
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Delete OEBPS/images/brushstroke.jpeg
  OEBPS/images/brushstroke.jpeg
Due: none

Delete brushstroke.svg
  brushstroke.svg
Due: none

Delete OEBPS/images/part-border.jpeg
  OEBPS/images/part-border.jpeg
Due: none

Delete OEBPS/images/decorative-line.jpeg
  OEBPS/images/decorative-line.jpeg
Due: none

Delete OEBPS/images/ruled-paper.jpeg
  OEBPS/images/ruled-paper.jpeg
Due: none

Delete OEBPS/images/quote-marks.png
  OEBPS/images/quote-marks.png
Due: none

Delete OEBPS/images/toc-divider.png
  OEBPS/images/toc-divider.png
Due: none

Delete OEBPS/images/quiz-checkbox.png
  OEBPS/images/quiz-checkbox.png
Due: none

Delete OEBPS/images/crown-ornament.png
  OEBPS/images/crown-ornament.png
Due: none

Delete OEBPS/images/chapter-frame.png
  OEBPS/images/chapter-frame.png
Due: none

Add files via upload
  OEBPS/images/chapter-frame.svg
  OEBPS/images/quiz-checkbox-checked.svg
  OEBPS/images/quiz-checkbox-unchecked.svg
  OEBPS/images/quote-marks.svg
  OEBPS/images/ruled-paper.svg
  OEBPS/images/toc-divider.svg
Due: none

refactor(content): rename book to 'Unveiling Your Creative Odyssey' and update author and publisher details
  OEBPS/text/1-TitlePage.xhtml
  OEBPS/text/2-Copyright.xhtml
  OEBPS/text/28-Conclusion.xhtml
  OEBPS/text/29QuizKey.xhtml
  OEBPS/text/3-TableOfContents.xhtml
  OEBPS/text/30-SelfAssessment.xhtml
  OEBPS/text/31-affirmations-close.xhtml
  OEBPS/text/32-continued-learning-commitment.xhtml
  OEBPS/text/33-Acknowledgments.xhtml
  OEBPS/text/34-AbouttheAuthor.xhtml
  OEBPS/text/35-CurlsContempCollective.xhtml
  OEBPS/text/36-JournalingStart.xhtml
  OEBPS/text/37-ManifestingJournal.xhtml
  OEBPS/text/38-journal-page.xhtml
  OEBPS/text/39-professional-development.xhtml
  OEBPS/text/4-Dedication.xhtml
  OEBPS/text/40-SMARTGoals.xhtml
  OEBPS/text/41-self-care-journal.xhtml
  OEBPS/text/42-VisionJournal.xhtml
  OEBPS/text/43-DoodlePage.xhtml
  OEBPS/text/44-bibliography.xhtml
  OEBPS/text/5-SelfAssessment.xhtml
  OEBPS/text/6-affirmation-odyssey.xhtml
  OEBPS/text/7-Preface.xhtml
  OEBPS/text/nav.xhtml
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Delete OEBPS/content.opf
  OEBPS/content.opf
Due: epub-asset-validation, epub-path-regression-test, epub-structure-validation

Add files via upload
  OEBPS/content.opf
Due: epub-asset-validation, epub-path-regression-test, epub-structure-validation

Delete OEBPS/styles/style.css
  OEBPS/styles/style.css
Due: epub-asset-validation, epub-path-regression-test, epub-structure-validation

Delete OEBPS/styles/fonts.css
  OEBPS/styles/fonts.css
Due: epub-asset-validation, epub-path-regression-test, epub-structure-validation

Add files via upload
  OEBPS/styles/fonts.css
  OEBPS/styles/style.css
Due: epub-asset-validation, epub-path-regression-test, epub-structure-validation

Delete OEBPS/styles/print.css
  OEBPS/styles/print.css
Due: epub-asset-validation, epub-path-regression-test, epub-structure-validation

Add files via upload
  OEBPS/styles/print.css
Due: epub-asset-validation, epub-path-regression-test, epub-structure-validation

refactor(content): rename book to 'Curls & Contemplation' and update metadata
  OEBPS/content.opf
  OEBPS/text/1-TitlePage.xhtml
  OEBPS/text/2-Copyright.xhtml
  OEBPS/text/3-TableOfContents.xhtml
  OEBPS/text/30-SelfAssessment.xhtml
  OEBPS/text/34-AbouttheAuthor.xhtml
  OEBPS/text/35-CurlsContempCollective.xhtml
  OEBPS/text/4-Dedication.xhtml
  OEBPS/text/44-bibliography.xhtml
  OEBPS/text/5-SelfAssessment.xhtml
  OEBPS/text/6-affirmation-odyssey.xhtml
  OEBPS/text/7-Preface.xhtml
  dist/curls-and-contemplation.epub
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Path conditions:
  epub-asset-validation: any of: \.(xhtml|css|opf)$
  epub-path-regression-test: any of: \.(xhtml|css|opf)$
  xhtml-formatting: any of: \.xhtml$
  epub-structure-validation: any of: \.(xhtml|css|opf|xml)$
