Repository miketui/Fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

epub-asset-validation:
  name: EPUB Asset Validation
  entry: node scripts/validate-assets.js
  language: node
  pass_filenames: false

epub-path-regression-test:
  name: EPUB Path Reference Regression Test
  entry: node tests/regression/path-reference-test.js --allow-regressions
  language: node
  pass_filenames: false

xhtml-formatting:
  name: XHTML Formatting Check
  entry: scripts/format-xhtml.sh
  language: script

epub-structure-validation:
  name: EPUB Structure Validation
  entry: ./validate-epub.sh
  language: script
  pass_filenames: false

chore(dist): add compiled EPUB files to distribution locations (2025-12-17)
  check_and_copy_epub.py
  copy_epub_files.py
  git_push_final.py
  push_to_main.py
Due: none

feat(dist): add compiled EPUB files to repository (2025-12-17)
  .gitignore
  The-Artisans-Path.epub
  epub_build/dist/The-Artisans-Path.epub
  releases/The-Artisans-Path.epub
Due: none

feat(epub): add curls15.epub final build to main
  epub_build/curls15.epub
Due: none

feat(content): add detailed body and quote pages for chapters II to XVI
  REBRANDED_OUTPUT/xhtml/10-chapter-ii-refining-your-creative-toolkit.xhtml.bak
  REBRANDED_OUTPUT/xhtml/10a-chapter-ii-quote.xhtml
  REBRANDED_OUTPUT/xhtml/11-chapter-iii-reigniting-your-creative-fire.xhtml.bak
  REBRANDED_OUTPUT/xhtml/11a-chapter-iii-quote.xhtml
  REBRANDED_OUTPUT/xhtml/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml.bak
  REBRANDED_OUTPUT/xhtml/13a-chapter-iv-quote.xhtml
  REBRANDED_OUTPUT/xhtml/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml.bak
  REBRANDED_OUTPUT/xhtml/14a-chapter-v-quote.xhtml
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml.bak
  REBRANDED_OUTPUT/xhtml/15a-chapter-vi-quote.xhtml
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml.bak
  REBRANDED_OUTPUT/xhtml/16a-chapter-vii-quote.xhtml
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml.bak
  REBRANDED_OUTPUT/xhtml/17a-chapter-viii-quote.xhtml
  REBRANDED_OUTPUT/xhtml/19-chapter-ix-stepping-into-leadership.xhtml.bak
  REBRANDED_OUTPUT/xhtml/19a-chapter-ix-quote.xhtml
  REBRANDED_OUTPUT/xhtml/20-chapter-x-crafting-enduring-legacies.xhtml.bak
  REBRANDED_OUTPUT/xhtml/20a-chapter-x-quote.xhtml
  REBRANDED_OUTPUT/xhtml/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml.bak
  REBRANDED_OUTPUT/xhtml/21a-chapter-xi-quote.xhtml
  REBRANDED_OUTPUT/xhtml/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml.bak
  REBRANDED_OUTPUT/xhtml/22a-chapter-xii-quote.xhtml
  REBRANDED_OUTPUT/xhtml/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml.bak
  REBRANDED_OUTPUT/xhtml/23a-chapter-xiii-quote.xhtml
  REBRANDED_OUTPUT/xhtml/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml.bak
  REBRANDED_OUTPUT/xhtml/25a-chapter-xiv-quote.xhtml
  REBRANDED_OUTPUT/xhtml/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml.bak
  REBRANDED_OUTPUT/xhtml/26a-chapter-xv-quote.xhtml
  REBRANDED_OUTPUT/xhtml/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml.bak
  REBRANDED_OUTPUT/xhtml/27a-chapter-xvi-quote.xhtml
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml.bak
  REBRANDED_OUTPUT/xhtml/9a-chapter-i-quote.xhtml
  scripts/restructure_chapters.py
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

refactor(epub-structure): extract quote pages and remove duplicate sections from chapters
  REBRANDED_OUTPUT/content.opf
  REBRANDED_OUTPUT/xhtml/10-chapter-ii-refining-your-creative-toolkit.xhtml
  REBRANDED_OUTPUT/xhtml/11-chapter-iii-reigniting-your-creative-fire.xhtml
  REBRANDED_OUTPUT/xhtml/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
  REBRANDED_OUTPUT/xhtml/19-chapter-ix-stepping-into-leadership.xhtml
  REBRANDED_OUTPUT/xhtml/20-chapter-x-crafting-enduring-legacies.xhtml
  REBRANDED_OUTPUT/xhtml/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml
  REBRANDED_OUTPUT/xhtml/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml
  REBRANDED_OUTPUT/xhtml/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml
  REBRANDED_OUTPUT/xhtml/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml.bak2
  REBRANDED_OUTPUT/xhtml/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml.bak2
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml
  asset-validation-report.json
  asset-validation-report.md
  docs/FINAL_EPUB_VALIDATION.md
  epub-integration-test-report.json
  epub-integration-test-report.md
  path-reference-regression-report.json
  path-reference-regression-report.md
  scripts/fix_duplicate_quizzes.py
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

docs(epub): add EPUB compilation report with validation results
  EPUB_COMPILATION_REPORT.md
  REBRANDED_OUTPUT/xhtml/styles/print-pod.css.bak
Due: none

Rewrite and Compile Rebranded EPUB XHTML Structure (Rev 9) (#101)
  REBRANDED_OUTPUT/content.opf
  REBRANDED_OUTPUT/xhtml/10-chapter-ii-refining-your-creative-toolkit.xhtml.bak
  REBRANDED_OUTPUT/xhtml/10a-chapter-ii-quote.xhtml
  REBRANDED_OUTPUT/xhtml/11-chapter-iii-reigniting-your-creative-fire.xhtml.bak
  REBRANDED_OUTPUT/xhtml/11a-chapter-iii-quote.xhtml
  REBRANDED_OUTPUT/xhtml/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml.bak
  REBRANDED_OUTPUT/xhtml/13a-chapter-iv-quote.xhtml
  REBRANDED_OUTPUT/xhtml/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml.bak
  REBRANDED_OUTPUT/xhtml/14a-chapter-v-quote.xhtml
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml.bak
  REBRANDED_OUTPUT/xhtml/15a-chapter-vi-quote.xhtml
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml.bak
  REBRANDED_OUTPUT/xhtml/16a-chapter-vii-quote.xhtml
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml.bak
  REBRANDED_OUTPUT/xhtml/17a-chapter-viii-quote.xhtml
  REBRANDED_OUTPUT/xhtml/19-chapter-ix-stepping-into-leadership.xhtml.bak
  REBRANDED_OUTPUT/xhtml/19a-chapter-ix-quote.xhtml
  REBRANDED_OUTPUT/xhtml/20-chapter-x-crafting-enduring-legacies.xhtml.bak
  REBRANDED_OUTPUT/xhtml/20a-chapter-x-quote.xhtml
  REBRANDED_OUTPUT/xhtml/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml.bak
  REBRANDED_OUTPUT/xhtml/21a-chapter-xi-quote.xhtml
  REBRANDED_OUTPUT/xhtml/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml.bak
  REBRANDED_OUTPUT/xhtml/22a-chapter-xii-quote.xhtml
  REBRANDED_OUTPUT/xhtml/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml.bak
  REBRANDED_OUTPUT/xhtml/23a-chapter-xiii-quote.xhtml
  REBRANDED_OUTPUT/xhtml/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml.bak
  REBRANDED_OUTPUT/xhtml/25a-chapter-xiv-quote.xhtml
  REBRANDED_OUTPUT/xhtml/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml.bak
  REBRANDED_OUTPUT/xhtml/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml.bak2
  REBRANDED_OUTPUT/xhtml/26a-chapter-xv-quote.xhtml
  REBRANDED_OUTPUT/xhtml/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml.bak
  REBRANDED_OUTPUT/xhtml/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml.bak2
  REBRANDED_OUTPUT/xhtml/27a-chapter-xvi-quote.xhtml
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml.bak
  REBRANDED_OUTPUT/xhtml/9a-chapter-i-quote.xhtml
  docs/FINAL_EPUB_VALIDATION.md
  scripts/fix_duplicate_quizzes.py
  scripts/restructure_chapters.py
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

feat(epub): fix validation errors and improve EPUB structure
  REBRANDED_OUTPUT/content.opf
  REBRANDED_OUTPUT/dist/The-Artisans-Path.epub
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
  REBRANDED_OUTPUT/xhtml/6-AffirmationOdyssey.xhtml
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml
  docs/VALIDATION_FIX_REPORT.md
  scripts/fix_validation_errors.py
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

fix: improve script portability and fix file handling safety issues (#102)
  scripts/fix_duplicate_quizzes.py
  scripts/restructure_chapters.py
Due: none

Fix unsafe backup strategy in restructure_chapters.py (#105)
  scripts/restructure_chapters.py
Due: none

Fix duplicate quote sections, author name inconsistency, and unused imports (#107)
  REBRANDED_OUTPUT/xhtml/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/7-Preface.xhtml
  scripts/clean_chapter_html.py
  scripts/fix_chapter_structure.py
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Address code review feedback: remove hardcoded paths, unused code, and standardize conventions (#109)
  scripts/fix_duplicate_quizzes.py
Due: none

Fix aria-labelledby references for duplicate quiz sections (#110)
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Remove unused pattern1 variable in clean_chapter_html.py (#111)
  scripts/clean_chapter_html.py
Due: none

Fix duplicate element IDs and hardcoded path in EPUB validation (#117)
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
  scripts/fix_validation_errors.py
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Fix incorrect ID reference update logic and author name inconsistency (#119)
  REBRANDED_OUTPUT/xhtml/28-Conclusion.xhtml
  scripts/fix_validation_errors.py
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Add comprehensive copilot-instructions.md for AI agents
  .github/copilot-instructions.md
Due: none

Remove backup files from REBRANDED_OUTPUT/xhtml directory (#121)
  .gitignore
  REBRANDED_OUTPUT/xhtml/10-chapter-ii-refining-your-creative-toolkit.xhtml.bak
  REBRANDED_OUTPUT/xhtml/11-chapter-iii-reigniting-your-creative-fire.xhtml.bak
  REBRANDED_OUTPUT/xhtml/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml.bak
  REBRANDED_OUTPUT/xhtml/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml.bak
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml.bak
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml.bak
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml.bak
  REBRANDED_OUTPUT/xhtml/19-chapter-ix-stepping-into-leadership.xhtml.bak
  REBRANDED_OUTPUT/xhtml/20-chapter-x-crafting-enduring-legacies.xhtml.bak
  REBRANDED_OUTPUT/xhtml/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml.bak
  REBRANDED_OUTPUT/xhtml/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml.bak
  REBRANDED_OUTPUT/xhtml/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml.bak
  REBRANDED_OUTPUT/xhtml/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml.bak
  REBRANDED_OUTPUT/xhtml/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml.bak
  REBRANDED_OUTPUT/xhtml/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml.bak
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml.bak
  REBRANDED_OUTPUT/xhtml/styles/print-pod.css.bak
Due: none

Format chapter title pages to match professional PDF styling
  REBRANDED_OUTPUT/xhtml/10-chapter-ii-refining-your-creative-toolkit.xhtml
  REBRANDED_OUTPUT/xhtml/11-chapter-iii-reigniting-your-creative-fire.xhtml
  REBRANDED_OUTPUT/xhtml/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
  REBRANDED_OUTPUT/xhtml/19-chapter-ix-stepping-into-leadership.xhtml
  REBRANDED_OUTPUT/xhtml/20-chapter-x-crafting-enduring-legacies.xhtml
  REBRANDED_OUTPUT/xhtml/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml
  REBRANDED_OUTPUT/xhtml/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml
  REBRANDED_OUTPUT/xhtml/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml
  REBRANDED_OUTPUT/xhtml/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml
  REBRANDED_OUTPUT/xhtml/styles/style.css
  docs/CHAPTER_FORMATTING_COMPLETE.md
  docs/CHAPTER_FORMATTING_UPDATES.md
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Format chapter title pages to match professional PDF styling (#123)
  REBRANDED_OUTPUT/xhtml/10-chapter-ii-refining-your-creative-toolkit.xhtml
  REBRANDED_OUTPUT/xhtml/11-chapter-iii-reigniting-your-creative-fire.xhtml
  REBRANDED_OUTPUT/xhtml/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
  REBRANDED_OUTPUT/xhtml/19-chapter-ix-stepping-into-leadership.xhtml
  REBRANDED_OUTPUT/xhtml/20-chapter-x-crafting-enduring-legacies.xhtml
  REBRANDED_OUTPUT/xhtml/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml
  REBRANDED_OUTPUT/xhtml/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml
  REBRANDED_OUTPUT/xhtml/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml
  REBRANDED_OUTPUT/xhtml/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml
  REBRANDED_OUTPUT/xhtml/styles/style.css
  docs/CHAPTER_FORMATTING_COMPLETE.md
  docs/CHAPTER_FORMATTING_UPDATES.md
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Revert "Format chapter title pages to match professional PDF styling (#123)"
  REBRANDED_OUTPUT/xhtml/10-chapter-ii-refining-your-creative-toolkit.xhtml
  REBRANDED_OUTPUT/xhtml/11-chapter-iii-reigniting-your-creative-fire.xhtml
  REBRANDED_OUTPUT/xhtml/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
  REBRANDED_OUTPUT/xhtml/19-chapter-ix-stepping-into-leadership.xhtml
  REBRANDED_OUTPUT/xhtml/20-chapter-x-crafting-enduring-legacies.xhtml
  REBRANDED_OUTPUT/xhtml/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml
  REBRANDED_OUTPUT/xhtml/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml
  REBRANDED_OUTPUT/xhtml/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml
  REBRANDED_OUTPUT/xhtml/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml
  REBRANDED_OUTPUT/xhtml/styles/style.css
  docs/CHAPTER_FORMATTING_COMPLETE.md
  docs/CHAPTER_FORMATTING_UPDATES.md
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

feat(epub): add NCX navigation and complete EPUB structure documentation
  EBOOK_STRUCTURE_SUMMARY.md
  OEBPS/ebook/content.opf
  OEBPS/ebook/toc.ncx
  REBRANDED_OUTPUT/xhtml/ebook/content.opf
  REBRANDED_OUTPUT/xhtml/ebook/toc.ncx
Due: epub-asset-validation, epub-path-regression-test, epub-structure-validation

fix(epub): resolve EPUBCheck validation errors and accessibility issues
  OEBPS/text/10-chapter-ii-refining-your-creative-toolkit.xhtml
  OEBPS/text/10a-chapter-ii-quote.xhtml
  OEBPS/text/11-chapter-iii-reigniting-your-creative-fire.xhtml
  OEBPS/text/11a-chapter-iii-quote.xhtml
  OEBPS/text/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml
  OEBPS/text/13a-chapter-iv-quote.xhtml
  OEBPS/text/14a-chapter-v-quote.xhtml
  OEBPS/text/15a-chapter-vi-quote.xhtml
  OEBPS/text/16a-chapter-vii-quote.xhtml
  OEBPS/text/17a-chapter-viii-quote.xhtml
  OEBPS/text/19a-chapter-ix-quote.xhtml
  OEBPS/text/20a-chapter-x-quote.xhtml
  OEBPS/text/21a-chapter-xi-quote.xhtml
  OEBPS/text/22a-chapter-xii-quote.xhtml
  OEBPS/text/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml
  OEBPS/text/23a-chapter-xiii-quote.xhtml
  OEBPS/text/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml
  OEBPS/text/25a-chapter-xiv-quote.xhtml
  OEBPS/text/26a-chapter-xv-quote.xhtml
  OEBPS/text/27a-chapter-xvi-quote.xhtml
  OEBPS/text/9a-chapter-i-quote.xhtml
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

fix(epub): resolve all remaining EPUBCheck validation errors
  OEBPS/text/10-chapter-ii-refining-your-creative-toolkit.xhtml
  OEBPS/text/10a-chapter-ii-quote.xhtml
  OEBPS/text/11-chapter-iii-reigniting-your-creative-fire.xhtml
  OEBPS/text/11a-chapter-iii-quote.xhtml
  OEBPS/text/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml
  OEBPS/text/13a-chapter-iv-quote.xhtml
  OEBPS/text/14a-chapter-v-quote.xhtml
  OEBPS/text/15a-chapter-vi-quote.xhtml
  OEBPS/text/16a-chapter-vii-quote.xhtml
  OEBPS/text/17a-chapter-viii-quote.xhtml
  OEBPS/text/19-chapter-ix-stepping-into-leadership.xhtml
  OEBPS/text/19a-chapter-ix-quote.xhtml
  OEBPS/text/20a-chapter-x-quote.xhtml
  OEBPS/text/21a-chapter-xi-quote.xhtml
  OEBPS/text/22a-chapter-xii-quote.xhtml
  OEBPS/text/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml
  OEBPS/text/23a-chapter-xiii-quote.xhtml
  OEBPS/text/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml
  OEBPS/text/25a-chapter-xiv-quote.xhtml
  OEBPS/text/26a-chapter-xv-quote.xhtml
  OEBPS/text/27a-chapter-xvi-quote.xhtml
  OEBPS/text/9a-chapter-i-quote.xhtml
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Path conditions:
  epub-asset-validation: any of: \.(xhtml|css|opf)$
  epub-path-regression-test: any of: \.(xhtml|css|opf)$
  xhtml-formatting: any of: \.xhtml$
  epub-structure-validation: any of: \.(xhtml|css|opf|xml)$
