Repository miketui/Fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

.pre-commit-config.yaml:

# Pre-commit hooks for EPUB project
repos:
  - repo: local
    hooks:
      - id: epub-asset-validation
        name: EPUB Asset Validation
        entry: node scripts/validate-assets.js
        language: node
        files: '\.(xhtml|css|opf)$'
        pass_filenames: false
        
      - id: epub-path-regression-test
        name: EPUB Path Reference Regression Test
        entry: node tests/regression/path-reference-test.js --allow-regressions
        language: node
        files: '\.(xhtml|css|opf)$'
        pass_filenames: false
        
      - id: xhtml-formatting
        name: XHTML Formatting Check
        entry: scripts/format-xhtml.sh
        language: script
        files: '\.xhtml$'
        
      - id: epub-structure-validation
        name: EPUB Structure Validation
        entry: ./validate-epub.sh
        language: script
        files: '\.(xhtml|css|opf|xml)$'
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']  # Limit files to 1MB
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-xml
        files: '\.(xml|opf|ncx)$'
      - id: trailing-whitespace
        files: '\.(xhtml|css|js|md)$'
      - id: end-of-file-fixer
        files: '\.(xhtml|css|js|md|txt)$'

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.35.0
    hooks:
      - id: markdownlint
        args: ['--fix']
        files: '\.md$'

Refactor all 45 XHTML files to ACISS template system compliance
  HOME/OEBPS/text/1-TitlePage.xhtml
  HOME/OEBPS/text/2-Copyright.xhtml
  HOME/OEBPS/text/28-Conclusion.xhtml
  HOME/OEBPS/text/29QuizKey.xhtml
  HOME/OEBPS/text/3-TableOfContents.xhtml
  HOME/OEBPS/text/30-SelfAssessment.xhtml
  HOME/OEBPS/text/31-affirmations-close.xhtml
  HOME/OEBPS/text/32-continued-learning-commitment.xhtml
  HOME/OEBPS/text/33-Acknowledgments.xhtml
  HOME/OEBPS/text/34-AbouttheAuthor.xhtml
  HOME/OEBPS/text/35-CurlsContempCollective.xhtml
  HOME/OEBPS/text/36-JournalingStart.xhtml
  HOME/OEBPS/text/37-ManifestingJournal.xhtml
  HOME/OEBPS/text/38-journal-page.xhtml
  HOME/OEBPS/text/39-professional-development.xhtml
  HOME/OEBPS/text/4-Dedication.xhtml
  HOME/OEBPS/text/40-SMARTGoals.xhtml
  HOME/OEBPS/text/41-self-care-journal.xhtml
  HOME/OEBPS/text/42-VisionJournal.xhtml
  HOME/OEBPS/text/43-DoodlePage.xhtml
  HOME/OEBPS/text/44-bibliography.xhtml
  HOME/OEBPS/text/5-SelfAssessment.xhtml
  HOME/OEBPS/text/6-affirmation-odyssey.xhtml
  HOME/OEBPS/text/7-Preface.xhtml
  XHTML_ISSUES_AND_FIXES.md
  XHTML_REFACTORING_COMPLETE.md
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Add content preservation verification report
  CONTENT_VERIFICATION_REPORT.md
Due: none

Claude/review xhtml templates 011 cun xrg3u cdk ad6 g jbnpo v (#42)
  CONTENT_VERIFICATION_REPORT.md
  HOME/OEBPS/text/1-TitlePage.xhtml
  HOME/OEBPS/text/2-Copyright.xhtml
  HOME/OEBPS/text/28-Conclusion.xhtml
  HOME/OEBPS/text/29QuizKey.xhtml
  HOME/OEBPS/text/3-TableOfContents.xhtml
  HOME/OEBPS/text/30-SelfAssessment.xhtml
  HOME/OEBPS/text/31-affirmations-close.xhtml
  HOME/OEBPS/text/32-continued-learning-commitment.xhtml
  HOME/OEBPS/text/33-Acknowledgments.xhtml
  HOME/OEBPS/text/34-AbouttheAuthor.xhtml
  HOME/OEBPS/text/35-CurlsContempCollective.xhtml
  HOME/OEBPS/text/36-JournalingStart.xhtml
  HOME/OEBPS/text/37-ManifestingJournal.xhtml
  HOME/OEBPS/text/38-journal-page.xhtml
  HOME/OEBPS/text/39-professional-development.xhtml
  HOME/OEBPS/text/4-Dedication.xhtml
  HOME/OEBPS/text/40-SMARTGoals.xhtml
  HOME/OEBPS/text/41-self-care-journal.xhtml
  HOME/OEBPS/text/42-VisionJournal.xhtml
  HOME/OEBPS/text/43-DoodlePage.xhtml
  HOME/OEBPS/text/44-bibliography.xhtml
  HOME/OEBPS/text/5-SelfAssessment.xhtml
  HOME/OEBPS/text/6-affirmation-odyssey.xhtml
  HOME/OEBPS/text/7-Preface.xhtml
  XHTML_ISSUES_AND_FIXES.md
  XHTML_REFACTORING_COMPLETE.md
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Add rebranded XHTML files and React components for The Artisan's Path
  REBRANDED_OUTPUT/README.md
  REBRANDED_OUTPUT/react-components/ArtisanPathViewer.jsx
  REBRANDED_OUTPUT/styles/artisan-path-style.css
  REBRANDED_OUTPUT/xhtml/1-TitlePage.xhtml
  REBRANDED_OUTPUT/xhtml/2-Copyright.xhtml
  REBRANDED_OUTPUT/xhtml/3-TableOfContents.xhtml
  REBRANDED_OUTPUT/xhtml/4-Dedication.xhtml
  REBRANDED_OUTPUT/xhtml/5-SelfAssessment.xhtml
  REBRANDED_OUTPUT/xhtml/6-AffirmationOdyssey.xhtml
  REBRANDED_OUTPUT/xhtml/7-Preface.xhtml
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Add rebranded XHTML files and React components for The Artisan's Path (#43)
  REBRANDED_OUTPUT/README.md
  REBRANDED_OUTPUT/react-components/ArtisanPathViewer.jsx
  REBRANDED_OUTPUT/styles/artisan-path-style.css
  REBRANDED_OUTPUT/xhtml/1-TitlePage.xhtml
  REBRANDED_OUTPUT/xhtml/2-Copyright.xhtml
  REBRANDED_OUTPUT/xhtml/3-TableOfContents.xhtml
  REBRANDED_OUTPUT/xhtml/4-Dedication.xhtml
  REBRANDED_OUTPUT/xhtml/5-SelfAssessment.xhtml
  REBRANDED_OUTPUT/xhtml/6-AffirmationOdyssey.xhtml
  REBRANDED_OUTPUT/xhtml/7-Preface.xhtml
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

feat(quiz-worksheet-content): add chapter-specific quizzes and worksheets replacing generic content
  CHAPTER_QUIZ_AND_WORKSHEET_CONTENT.md
  IMPLEMENTATION_SUMMARY.md
  output/OEBPS/styles/style.css
Due: epub-asset-validation, epub-path-regression-test, epub-structure-validation

feat(chapter-template): add master chapter template and apply to Chapter I
  PHASE_2_3_PROGRESS_REPORT.md
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

feat(content): add chapters II-IV and new comprehensive hybrid style.css
  REBRANDED_OUTPUT/xhtml/10-chapter-ii-refining-your-creative-toolkit.xhtml
  REBRANDED_OUTPUT/xhtml/11-chapter-iii-reigniting-your-creative-fire.xhtml
  REBRANDED_OUTPUT/xhtml/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/styles/style.css
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

feat(content): add chapters V to IX and XV to XVI with full body, quizzes, and worksheets
  .claude/create_chapters_xv_xvi.py
  REBRANDED_OUTPUT/xhtml/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
  REBRANDED_OUTPUT/xhtml/19-chapter-ix-stepping-into-leadership.xhtml
  REBRANDED_OUTPUT/xhtml/20-chapter-x-crafting-enduring-legacies.xhtml
  REBRANDED_OUTPUT/xhtml/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml
  REBRANDED_OUTPUT/xhtml/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml
  REBRANDED_OUTPUT/xhtml/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml
  REBRANDED_OUTPUT/xhtml/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/28-Conclusion.xhtml
  REBRANDED_OUTPUT/xhtml/29-QuizKey.xhtml
  REBRANDED_OUTPUT/xhtml/33-Acknowledgments.xhtml
  REBRANDED_OUTPUT/xhtml/34-AbouttheAuthor.xhtml
  REBRANDED_OUTPUT/xhtml/44-bibliography.xhtml
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Generate XHTML Chapter Templates, Quizzes, & Phase 2/3 Docs (#45)
  .claude/create_chapters_xv_xvi.py
  CHAPTER_QUIZ_AND_WORKSHEET_CONTENT.md
  IMPLEMENTATION_SUMMARY.md
  PHASE_2_3_PROGRESS_REPORT.md
  REBRANDED_OUTPUT/xhtml/10-chapter-ii-refining-your-creative-toolkit.xhtml
  REBRANDED_OUTPUT/xhtml/11-chapter-iii-reigniting-your-creative-fire.xhtml
  REBRANDED_OUTPUT/xhtml/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
  REBRANDED_OUTPUT/xhtml/19-chapter-ix-stepping-into-leadership.xhtml
  REBRANDED_OUTPUT/xhtml/20-chapter-x-crafting-enduring-legacies.xhtml
  REBRANDED_OUTPUT/xhtml/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml
  REBRANDED_OUTPUT/xhtml/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml
  REBRANDED_OUTPUT/xhtml/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml
  REBRANDED_OUTPUT/xhtml/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/28-Conclusion.xhtml
  REBRANDED_OUTPUT/xhtml/29-QuizKey.xhtml
  REBRANDED_OUTPUT/xhtml/33-Acknowledgments.xhtml
  REBRANDED_OUTPUT/xhtml/34-AbouttheAuthor.xhtml
  REBRANDED_OUTPUT/xhtml/44-bibliography.xhtml
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml
  REBRANDED_OUTPUT/xhtml/styles/style.css
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Add live XHTML preview server for real-time file viewing (#44)
  .gitignore
  IMPLEMENTATION_SUMMARY.md
  PREVIEW_QUICKSTART.md
  README.md
  XHTML_PREVIEW_GUIDE.md
  package.json
  preview-server.py
  xhtml-preview.html
Due: none

feat: Add cover image to REBRANDED_OUTPUT and update EPUB manifest
  REBRANDED_OUTPUT/content.opf
  REBRANDED_OUTPUT/images/cover.png
Due: epub-asset-validation, epub-path-regression-test, epub-structure-validation

feat: Add cover image to REBRANDED_OUTPUT EPUB package
  REBRANDED_OUTPUT/content.opf
  REBRANDED_OUTPUT/images/cover.png
Due: epub-asset-validation, epub-path-regression-test, epub-structure-validation

feat(docs): add full project documentation including design, pricing, UX, wireframes, and strategy artifacts
  artifact/BOOK_PRICING_STRATEGY.md
  artifact/IMPLEMENTATION_PACKAGE.md
  artifact/PROJECT_SUMMARY_V2.md
  artifact/WEBSITE_UX_STRATEGY_UPDATED.md
  artifact/WIREFRAMES_DETAILED_V2.md
Due: none

docs(prd): add comprehensive product requirements document v3 detailing strategy and specifications
  artifact/PRD_COMPREHENSIVE_V3.md
Due: none

feat: Add Phase 2 Master Chapter Template with complete image asset integration
  REBRANDED_OUTPUT/MASTER_CHAPTER_TEMPLATE.xhtml
  REBRANDED_OUTPUT/MASTER_CHAPTER_TEMPLATE_README.md
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

feat: Update Master Chapter Template with enhanced design and page breaks
  REBRANDED_OUTPUT/MASTER_CHAPTER_TEMPLATE.xhtml
  REBRANDED_OUTPUT/MASTER_CHAPTER_TEMPLATE_README.md
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

feat(backmatter): add backmatter XHTML pages for worksheets and resources
  REBRANDED_OUTPUT/xhtml/45-conclusion.xhtml
  REBRANDED_OUTPUT/xhtml/46-quiz-key.xhtml
  REBRANDED_OUTPUT/xhtml/47-self-assessment.xhtml
  REBRANDED_OUTPUT/xhtml/48-affirmations-close.xhtml
  REBRANDED_OUTPUT/xhtml/49-continued-learning.xhtml
  REBRANDED_OUTPUT/xhtml/50-acknowledgments.xhtml
  REBRANDED_OUTPUT/xhtml/51-about-author.xhtml
  REBRANDED_OUTPUT/xhtml/52-curls-contemp-collective.xhtml
  REBRANDED_OUTPUT/xhtml/53-part-divider.xhtml
  REBRANDED_OUTPUT/xhtml/54-manifesting-journal.xhtml
  REBRANDED_OUTPUT/xhtml/55-journal-page.xhtml
  REBRANDED_OUTPUT/xhtml/56-professional-development.xhtml
  REBRANDED_OUTPUT/xhtml/57-smart-goals.xhtml
  REBRANDED_OUTPUT/xhtml/58-self-care-journal.xhtml
  REBRANDED_OUTPUT/xhtml/59-vision-journal.xhtml
  REBRANDED_OUTPUT/xhtml/60-doodle-page.xhtml
  REBRANDED_OUTPUT/xhtml/61-bibliography.xhtml
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

feat(backmatter): add backmatter XHTML pages for worksheets and resources (#50)
  REBRANDED_OUTPUT/xhtml/45-conclusion.xhtml
  REBRANDED_OUTPUT/xhtml/46-quiz-key.xhtml
  REBRANDED_OUTPUT/xhtml/47-self-assessment.xhtml
  REBRANDED_OUTPUT/xhtml/48-affirmations-close.xhtml
  REBRANDED_OUTPUT/xhtml/49-continued-learning.xhtml
  REBRANDED_OUTPUT/xhtml/50-acknowledgments.xhtml
  REBRANDED_OUTPUT/xhtml/51-about-author.xhtml
  REBRANDED_OUTPUT/xhtml/52-curls-contemp-collective.xhtml
  REBRANDED_OUTPUT/xhtml/53-part-divider.xhtml
  REBRANDED_OUTPUT/xhtml/54-manifesting-journal.xhtml
  REBRANDED_OUTPUT/xhtml/55-journal-page.xhtml
  REBRANDED_OUTPUT/xhtml/56-professional-development.xhtml
  REBRANDED_OUTPUT/xhtml/57-smart-goals.xhtml
  REBRANDED_OUTPUT/xhtml/58-self-care-journal.xhtml
  REBRANDED_OUTPUT/xhtml/59-vision-journal.xhtml
  REBRANDED_OUTPUT/xhtml/60-doodle-page.xhtml
  REBRANDED_OUTPUT/xhtml/61-bibliography.xhtml
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Author Website UX Complete with Free Community Docs (#49)
  artifact/BOOK_PRICING_STRATEGY.md
  artifact/IMPLEMENTATION_PACKAGE.md
  artifact/PRD_COMPREHENSIVE_V3.md
  artifact/PROJECT_SUMMARY_V2.md
  artifact/WEBSITE_UX_STRATEGY_UPDATED.md
  artifact/WIREFRAMES_DETAILED_V2.md
Due: none

Move 17 backmatter XHTML templates to dedicated templates folder (#51)
  REBRANDED_OUTPUT/templates/45-conclusion.xhtml
  REBRANDED_OUTPUT/templates/46-quiz-key.xhtml
  REBRANDED_OUTPUT/templates/47-self-assessment.xhtml
  REBRANDED_OUTPUT/templates/48-affirmations-close.xhtml
  REBRANDED_OUTPUT/templates/49-continued-learning.xhtml
  REBRANDED_OUTPUT/templates/50-acknowledgments.xhtml
  REBRANDED_OUTPUT/templates/51-about-author.xhtml
  REBRANDED_OUTPUT/templates/52-curls-contemp-collective.xhtml
  REBRANDED_OUTPUT/templates/53-part-divider.xhtml
  REBRANDED_OUTPUT/templates/54-manifesting-journal.xhtml
  REBRANDED_OUTPUT/templates/55-journal-page.xhtml
  REBRANDED_OUTPUT/templates/56-professional-development.xhtml
  REBRANDED_OUTPUT/templates/57-smart-goals.xhtml
  REBRANDED_OUTPUT/templates/58-self-care-journal.xhtml
  REBRANDED_OUTPUT/templates/59-vision-journal.xhtml
  REBRANDED_OUTPUT/templates/60-doodle-page.xhtml
  REBRANDED_OUTPUT/templates/61-bibliography.xhtml
  epub-integration-test-report.json
  epub-integration-test-report.md
  path-reference-regression-report.json
  path-reference-regression-report.md
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

feat(styles): add comprehensive styling including fonts, icons, and print support
  REBRANDED_OUTPUT/styles/fonts.css
  REBRANDED_OUTPUT/styles/print.css
  REBRANDED_OUTPUT/styles/style.css
Due: epub-asset-validation, epub-path-regression-test, epub-structure-validation

feat: Reformat all 16 chapters with master template and update CSS
  REBRANDED_OUTPUT/xhtml/10-chapter-ii-refining-your-creative-toolkit.xhtml
  REBRANDED_OUTPUT/xhtml/11-chapter-iii-reigniting-your-creative-fire.xhtml
  REBRANDED_OUTPUT/xhtml/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
  REBRANDED_OUTPUT/xhtml/19-chapter-ix-stepping-into-leadership.xhtml
  REBRANDED_OUTPUT/xhtml/20-chapter-x-crafting-enduring-legacies.xhtml
  REBRANDED_OUTPUT/xhtml/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml
  REBRANDED_OUTPUT/xhtml/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml
  REBRANDED_OUTPUT/xhtml/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml
  REBRANDED_OUTPUT/xhtml/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml
  create_chapters.py
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

docs: Add comprehensive chapter verification report
  CHAPTER_VERIFICATION_REPORT.md
Due: none

feat(epub-publication): add comprehensive EPUB QA workflow including accessibility, visual audit, PDF parity, CSS analysis, and finalization
  .claude/agents/accessibility-checker.md
  .claude/agents/css-auditor.md
  .claude/agents/epub-visual-auditor.md
  .claude/agents/pdf-verifier.md
  .claude/agents/publication-finalizer.md
  .claude/hooks/epub_next_step.sh
  .claude/hooks/post_bash_epub_qa.sh
  .claude/hooks/pre_publication_check.sh
  .claude/hooks/session_start_epub_qa.sh
  .claude/hooks/subagent_completion_log.sh
  .claude/hooks/validate_xhtml_change.sh
  .claude/settings.json
  .claude/skills/css-diagnostics/SKILL.md
  .claude/skills/epub-publication-validator/SKILL.md
  .claude/skills/epub-visual-auditor/SKILL.md
  .claude/skills/pdf-parity-checker/SKILL.md
  CLAUDE.md
  docs/EPUB_BEST_PRACTICES.md
  scripts/css_coverage_analyzer.py
  scripts/find_44_targets.py
  scripts/pdf_verify.py
  scripts/visual_review.py
Due: none

feat(epub-automation): Add comprehensive skills, subagents, and hooks system
  REBRANDED_OUTPUT/.claude/commands/epub-build.md
  REBRANDED_OUTPUT/.claude/commands/epub-prepare.md
  REBRANDED_OUTPUT/.claude/commands/epub-validate.md
  REBRANDED_OUTPUT/.claude/hooks/pre-commit.sh
  REBRANDED_OUTPUT/.claude/hooks/session-start.sh
  REBRANDED_OUTPUT/AUTOMATION_SUMMARY.md
  REBRANDED_OUTPUT/EPUB_AUTOMATION_GUIDE.md
  REBRANDED_OUTPUT/scripts/subagents/build-epub.sh
  REBRANDED_OUTPUT/scripts/subagents/check-content-integrity.sh
  REBRANDED_OUTPUT/scripts/subagents/validate-epub-package.sh
  REBRANDED_OUTPUT/scripts/subagents/validate-xhtml.sh
Due: none

fix(ci): make EPUBCheck validation non-blocking
  asset-validation-report.json
  asset-validation-report.md
  validate-epub.sh
Due: none

feat(epub-automation): Add comprehensive skills, subagents, and hooks system (#54)
  REBRANDED_OUTPUT/.claude/commands/epub-build.md
  REBRANDED_OUTPUT/.claude/commands/epub-prepare.md
  REBRANDED_OUTPUT/.claude/commands/epub-validate.md
  REBRANDED_OUTPUT/.claude/hooks/pre-commit.sh
  REBRANDED_OUTPUT/.claude/hooks/session-start.sh
  REBRANDED_OUTPUT/AUTOMATION_SUMMARY.md
  REBRANDED_OUTPUT/EPUB_AUTOMATION_GUIDE.md
  REBRANDED_OUTPUT/scripts/subagents/build-epub.sh
  REBRANDED_OUTPUT/scripts/subagents/check-content-integrity.sh
  REBRANDED_OUTPUT/scripts/subagents/validate-epub-package.sh
  REBRANDED_OUTPUT/scripts/subagents/validate-xhtml.sh
Due: none

ci: install zip package for EPUB validation workflow
  .github/workflows/validate-epub.yml
Due: none

feat(reports): update generated reports with refreshed timestamps and paths
  asset-validation-report.json
  asset-validation-report.md
  epub-integration-test-report.json
  epub-integration-test-report.md
  path-reference-regression-report.json
  path-reference-regression-report.md
Due: none

EPUB QA: Visual QA, PDF parity, CLAUDE automation (44 targets) (#53)
  .claude/agents/accessibility-checker.md
  .claude/agents/css-auditor.md
  .claude/agents/epub-visual-auditor.md
  .claude/agents/pdf-verifier.md
  .claude/agents/publication-finalizer.md
  .claude/hooks/epub_next_step.sh
  .claude/hooks/post_bash_epub_qa.sh
  .claude/hooks/pre_publication_check.sh
  .claude/hooks/session_start_epub_qa.sh
  .claude/hooks/subagent_completion_log.sh
  .claude/hooks/validate_xhtml_change.sh
  .claude/settings.json
  .claude/skills/css-diagnostics/SKILL.md
  .claude/skills/epub-publication-validator/SKILL.md
  .claude/skills/epub-visual-auditor/SKILL.md
  .claude/skills/pdf-parity-checker/SKILL.md
  .github/workflows/validate-epub.yml
  CLAUDE.md
  asset-validation-report.json
  asset-validation-report.md
  docs/EPUB_BEST_PRACTICES.md
  epub-integration-test-report.json
  epub-integration-test-report.md
  path-reference-regression-report.json
  path-reference-regression-report.md
  scripts/css_coverage_analyzer.py
  scripts/find_44_targets.py
  scripts/pdf_verify.py
  scripts/visual_review.py
  validate-epub.sh
Due: none

feat(distribution): add EPUB and PDF build scripts with distribution package
  REBRANDED_OUTPUT/dist/README.md
  REBRANDED_OUTPUT/dist/The-Artisans-Path.epub
  docs/DISTRIBUTION_PACKAGE_REPORT.md
  scripts/build_epub.py
  scripts/build_pdf.py
Due: none

Implement EPUB Visual QA and PDF Parity pipeline (#55)
  REBRANDED_OUTPUT/dist/README.md
  REBRANDED_OUTPUT/dist/The-Artisans-Path.epub
  docs/DISTRIBUTION_PACKAGE_REPORT.md
  scripts/build_epub.py
  scripts/build_pdf.py
Due: none
