Repository miketui/Fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

epub-asset-validation:
  name: EPUB Asset Validation
  entry: node scripts/validate-assets.js
  language: node
  pass_filenames: false

epub-path-regression-test:
  name: EPUB Path Reference Regression Test
  entry: node tests/regression/path-reference-test.js --allow-regressions
  language: node
  pass_filenames: false

xhtml-formatting:
  name: XHTML Formatting Check
  entry: scripts/format-xhtml.sh
  language: script

epub-structure-validation:
  name: EPUB Structure Validation
  entry: ./validate-epub.sh
  language: script
  pass_filenames: false

Standardize font-weight values to numeric format in print-pod.css (#78)
  REBRANDED_OUTPUT/xhtml/styles/print-pod.css
Due: epub-asset-validation, epub-path-regression-test, epub-structure-validation

Standardize font-weight values to numeric format in print-pod.css (#79)
  REBRANDED_OUTPUT/xhtml/styles/print-pod.css
  asset-validation-report.json
  asset-validation-report.md
Due: epub-asset-validation, epub-path-regression-test, epub-structure-validation

feat(audit): add script to audit chapter title page consistency
  scripts/audit_chapter_title_pages.py
Due: none

docs(chapter-title-page): add detailed inconsistency report
  docs/CHAPTER_TITLE_PAGE_INCONSISTENCY_REPORT.md
Due: none

docs(chapter-structure): add comprehensive chapter structure verification report
  docs/CHAPTER_STRUCTURE_VERIFICATION_REPORT.md
Due: none

docs(pagination): add detailed page break and chapter structure report
  docs/PAGE_BREAK_AND_STRUCTURE_REPORT.md
Due: none

docs(quote-image): add detailed report on quote image placement issues
  docs/QUOTE_IMAGE_PLACEMENT_ISSUES.md
Due: none

feat(quote-image): add instructions and script to fix quote image placement
  docs/QUOTE_IMAGE_FIX_INSTRUCTIONS.md
  scripts/fix_quote_image_placement.py
Due: none

Repository analysis for EPUB compilation readiness (#82)
  ANALYSIS_INDEX.md
  ANALYSIS_README.md
  FINAL_ANALYSIS_REPORT.md
  QUICK_REFERENCE.md
  REPOSITORY_ANALYSIS_SUMMARY.md
  docs/COMPREHENSIVE_ANALYSIS_REPORT.md
Due: none

Audit REBRANDED_OUTPUT: audit script, fix script, and 4 reports (#83)
  docs/CHAPTER_STRUCTURE_VERIFICATION_REPORT.md
  docs/CHAPTER_TITLE_PAGE_INCONSISTENCY_REPORT.md
  docs/PAGE_BREAK_AND_STRUCTURE_REPORT.md
  docs/QUOTE_IMAGE_FIX_INSTRUCTIONS.md
  docs/QUOTE_IMAGE_PLACEMENT_ISSUES.md
  scripts/audit_chapter_title_pages.py
  scripts/fix_quote_image_placement.py
Due: none

Identify most updated EPUB in REBRANDED_OUTPUT with validation (#84)
  FIND_MOST_UPDATED_EPUB_README.md
  find_most_updated_epub.py
  quick_answer.sh
Due: none

[WIP] Update audit scripts and reports based on feedback (#86)
  scripts/audit_chapter_title_pages.py
Due: none

Fix type hints and add safety checks in audit_chapter_title_pages.py (#85)
  scripts/audit_chapter_title_pages.py
Due: none

Align chapter worksheet-to-quote flow with curls reference and rebuild EPUB (#88)
  REBRANDED_OUTPUT/dist/curls.epub
  REBRANDED_OUTPUT/xhtml/10-chapter-ii-refining-your-creative-toolkit.xhtml
  REBRANDED_OUTPUT/xhtml/11-chapter-iii-reigniting-your-creative-fire.xhtml
  REBRANDED_OUTPUT/xhtml/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
  REBRANDED_OUTPUT/xhtml/19-chapter-ix-stepping-into-leadership.xhtml
  REBRANDED_OUTPUT/xhtml/20-chapter-x-crafting-enduring-legacies.xhtml
  REBRANDED_OUTPUT/xhtml/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml
  REBRANDED_OUTPUT/xhtml/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml
  REBRANDED_OUTPUT/xhtml/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml
  REBRANDED_OUTPUT/xhtml/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml
  REBRANDED_OUTPUT/xhtml/styles/fonts.css
  REBRANDED_OUTPUT/xhtml/styles/print-pod.css
  REBRANDED_OUTPUT/xhtml/styles/print.css
  REBRANDED_OUTPUT/xhtml/styles/style.css
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Fix PR review issues: hardcoded paths, unused variable, duplicate SMART goals text (#90)
  build_complete_epub.py
  epub_build/OEBPS/text/40-SMARTGoals.xhtml
  split_quotes.py
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

feat(content): add comprehensive mentorship chapter with case studies and quizzes
  REBRANDED_OUTPUT/xhtml/10-chapter-ii-refining-your-creative-toolkit.xhtml
  REBRANDED_OUTPUT/xhtml/11-chapter-iii-reigniting-your-creative-fire.xhtml
  REBRANDED_OUTPUT/xhtml/12-Part-II-Building-Your-Professional-Practice.xhtml
  REBRANDED_OUTPUT/xhtml/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
  REBRANDED_OUTPUT/xhtml/18-Part-III-Advanced-Business-Strategies.xhtml
  REBRANDED_OUTPUT/xhtml/19-chapter-ix-stepping-into-leadership.xhtml
  REBRANDED_OUTPUT/xhtml/20-chapter-x-crafting-enduring-legacies.xhtml
  REBRANDED_OUTPUT/xhtml/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml
  REBRANDED_OUTPUT/xhtml/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml
  REBRANDED_OUTPUT/xhtml/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/24-Part-IV-Future-Focused-Growth.xhtml
  REBRANDED_OUTPUT/xhtml/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml
  REBRANDED_OUTPUT/xhtml/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/28-Conclusion.xhtml
  REBRANDED_OUTPUT/xhtml/7-Preface.xhtml
  REBRANDED_OUTPUT/xhtml/8-Part-I-Foundations-of-Creative-Hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml
  scripts/build_epub.py
  scripts/clean_chapter_html.py
  scripts/fix_chapter_structure.py
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

feat(content): add comprehensive mentorship chapter with case studies and quizzes (#93)
  REBRANDED_OUTPUT/xhtml/12-Part-II-Building-Your-Professional-Practice.xhtml
  REBRANDED_OUTPUT/xhtml/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
  REBRANDED_OUTPUT/xhtml/18-Part-III-Advanced-Business-Strategies.xhtml
  REBRANDED_OUTPUT/xhtml/24-Part-IV-Future-Focused-Growth.xhtml
  REBRANDED_OUTPUT/xhtml/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/28-Conclusion.xhtml
  REBRANDED_OUTPUT/xhtml/7-Preface.xhtml
  REBRANDED_OUTPUT/xhtml/8-Part-I-Foundations-of-Creative-Hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml
  scripts/build_epub.py
  scripts/clean_chapter_html.py
  scripts/fix_chapter_structure.py
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Use repo-relative paths for complete EPUB build (#92)
  build_complete_epub.py
Due: none

Consolidate EPUB title from "The Artisan's Path" to "Curls & Contemplation" (#94)
  REBRANDED_OUTPUT/content.opf
  REBRANDED_OUTPUT/xhtml/6-AffirmationOdyssey.xhtml
  REBRANDED_OUTPUT/xhtml/styles/print-pod.css
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Consolidate duplicated inline CSS into shared print.css (#95)
  REBRANDED_OUTPUT/xhtml/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
  REBRANDED_OUTPUT/xhtml/7-Preface.xhtml
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

feat(build): add scripts to analyze quotes and build EPUB & PDF final package
  REBRANDED_OUTPUT/dist/The-Artisans-Path-Final.pdf
  REBRANDED_OUTPUT/xhtml/10-chapter-ii-refining-your-creative-toolkit.xhtml
  REBRANDED_OUTPUT/xhtml/11-chapter-iii-reigniting-your-creative-fire.xhtml
  REBRANDED_OUTPUT/xhtml/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
  REBRANDED_OUTPUT/xhtml/19-chapter-ix-stepping-into-leadership.xhtml
  REBRANDED_OUTPUT/xhtml/20-chapter-x-crafting-enduring-legacies.xhtml
  REBRANDED_OUTPUT/xhtml/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml
  REBRANDED_OUTPUT/xhtml/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml
  REBRANDED_OUTPUT/xhtml/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml
  REBRANDED_OUTPUT/xhtml/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml
  analyze_and_fix_quotes.py
  build_final_package.py
  test_manual.pdf
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

chore(rebranded-output): add updated rebranded PDF, EPUB, and visual audit JSON
  REBRANDED_OUTPUT/dist/The-Artisans-Path-POD.pdf
  REBRANDED_OUTPUT/dist/The-Artisans-Path.epub
  docs/REBRANDED_VISUAL_AUDIT.json
Due: none

feat(build): add scripts to analyze quotes and build EPUB & PDF final package (#96)
  REBRANDED_OUTPUT/dist/The-Artisans-Path-Final.pdf
  REBRANDED_OUTPUT/xhtml/10-chapter-ii-refining-your-creative-toolkit.xhtml
  REBRANDED_OUTPUT/xhtml/11-chapter-iii-reigniting-your-creative-fire.xhtml
  REBRANDED_OUTPUT/xhtml/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
  REBRANDED_OUTPUT/xhtml/19-chapter-ix-stepping-into-leadership.xhtml
  REBRANDED_OUTPUT/xhtml/20-chapter-x-crafting-enduring-legacies.xhtml
  REBRANDED_OUTPUT/xhtml/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml
  REBRANDED_OUTPUT/xhtml/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml
  REBRANDED_OUTPUT/xhtml/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml
  REBRANDED_OUTPUT/xhtml/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml
  analyze_and_fix_quotes.py
  build_final_package.py
  test_manual.pdf
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

chore(rebranded-output): add updated rebranded PDF, EPUB, and visual audit JSON (#97)
  REBRANDED_OUTPUT/dist/The-Artisans-Path-POD.pdf
  REBRANDED_OUTPUT/dist/The-Artisans-Path.epub
  docs/REBRANDED_VISUAL_AUDIT.json
Due: none

[WIP] Address feedback on XHTML to EPUB and POD PDF recompile (#98)
  analyze_and_fix_quotes.py
Due: none

[WIP] WIP Address feedback on XHTML to EPUB recompile (#99)
  REBRANDED_OUTPUT/xhtml/10-chapter-ii-refining-your-creative-toolkit.xhtml
  REBRANDED_OUTPUT/xhtml/11-chapter-iii-reigniting-your-creative-fire.xhtml
  REBRANDED_OUTPUT/xhtml/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
  REBRANDED_OUTPUT/xhtml/19-chapter-ix-stepping-into-leadership.xhtml
  REBRANDED_OUTPUT/xhtml/20-chapter-x-crafting-enduring-legacies.xhtml
  REBRANDED_OUTPUT/xhtml/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml
  REBRANDED_OUTPUT/xhtml/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml
  REBRANDED_OUTPUT/xhtml/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml
  REBRANDED_OUTPUT/xhtml/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml
  analyze_and_fix_quotes.py
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Fix EPUB validation errors and standardize chapter structure
  FINAL_EPUB_COMPLETION_REPORT.json
  FINAL_EPUB_COMPLETION_REPORT.md
  REBRANDED_OUTPUT/build_fixed_epub.sh
  REBRANDED_OUTPUT/content.opf
  REBRANDED_OUTPUT/styles/style.css
  REBRANDED_OUTPUT/xhtml/1-TitlePage.xhtml
  REBRANDED_OUTPUT/xhtml/10-chapter-ii-refining-your-creative-toolkit.xhtml
  REBRANDED_OUTPUT/xhtml/11-chapter-iii-reigniting-your-creative-fire.xhtml
  REBRANDED_OUTPUT/xhtml/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
  REBRANDED_OUTPUT/xhtml/19-chapter-ix-stepping-into-leadership.xhtml
  REBRANDED_OUTPUT/xhtml/2-Copyright.xhtml
  REBRANDED_OUTPUT/xhtml/20-chapter-x-crafting-enduring-legacies.xhtml
  REBRANDED_OUTPUT/xhtml/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml
  REBRANDED_OUTPUT/xhtml/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml
  REBRANDED_OUTPUT/xhtml/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml
  REBRANDED_OUTPUT/xhtml/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml
  asset-validation-report.json
  asset-validation-report.md
  build_final_epub.py
  commit_epub_fixes.py
  create_final_epub.py
  epub-integration-test-report.json
  epub-integration-test-report.md
  path-reference-regression-report.json
  path-reference-regression-report.md
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Add final EPUB file and completion reports to repository
  REBRANDED_OUTPUT/The-Artisans-Path.epub
Due: none

Update content.opf
  epub_build/OEBPS/content.opf
Due: epub-asset-validation, epub-path-regression-test, epub-structure-validation

Change output message from 'Hello World' to 'Goodbye World'
  epub_build/OEBPS/content.opf
Due: epub-asset-validation, epub-path-regression-test, epub-structure-validation

Path conditions:
  epub-asset-validation: any of: \.(xhtml|css|opf)$
  epub-path-regression-test: any of: \.(xhtml|css|opf)$
  xhtml-formatting: any of: \.xhtml$
  epub-structure-validation: any of: \.(xhtml|css|opf|xml)$
