Repository miketui/Fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

epub-asset-validation:
  name: EPUB Asset Validation
  entry: node scripts/validate-assets.js
  language: node
  pass_filenames: false

epub-path-regression-test:
  name: EPUB Path Reference Regression Test
  entry: node tests/regression/path-reference-test.js --allow-regressions
  language: node
  pass_filenames: false

xhtml-formatting:
  name: XHTML Formatting Check
  entry: scripts/format-xhtml.sh
  language: script

epub-structure-validation:
  name: EPUB Structure Validation
  entry: ./validate-epub.sh
  language: script
  pass_filenames: false

Add compiled EPUB and PDF files
  compiled_output/artisans-path-complete.pdf
  compiled_output/artisans-path.epub
Due: none

feat(distribution): add production-ready PDF and documentation
  .gitignore
  REBRANDED_OUTPUT/dist/The-Artisans-Path-POD.pdf
  docs/FINAL_DISTRIBUTION_SUMMARY.md
Due: none

Rename The-Artisans-Path.epub to The-Artisans-Path1.epub
  REBRANDED_OUTPUT/dist/The-Artisans-Path.epub
  REBRANDED_OUTPUT/dist/The-Artisans-Path1.epub
Due: none

Add EPUB Visual QA and PDF Parity Pipeline (#56)
  .gitignore
  REBRANDED_OUTPUT/dist/The-Artisans-Path-POD.pdf
  REBRANDED_OUTPUT/dist/The-Artisans-Path.epub
  docs/FINAL_DISTRIBUTION_SUMMARY.md
Due: none

Normalize EPUB chapter layouts to match canonical template
  REBRANDED_OUTPUT/xhtml/10-chapter-ii-refining-your-creative-toolkit.xhtml
  REBRANDED_OUTPUT/xhtml/11-chapter-iii-reigniting-your-creative-fire.xhtml
  REBRANDED_OUTPUT/xhtml/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
  REBRANDED_OUTPUT/xhtml/19-chapter-ix-stepping-into-leadership.xhtml
  REBRANDED_OUTPUT/xhtml/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml
  REBRANDED_OUTPUT/xhtml/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/28-Conclusion.xhtml
  REBRANDED_OUTPUT/xhtml/7-Preface.xhtml
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml
  docs/CHAPTER_NORMALIZATION_CHANGELOG.md
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Add explicit page breaks to chapters X, XI, XII + recompile EPUB
  REBRANDED_OUTPUT/dist/The-Artisans-Path-Normalized.epub
  REBRANDED_OUTPUT/xhtml/20-chapter-x-crafting-enduring-legacies.xhtml
  REBRANDED_OUTPUT/xhtml/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml
  REBRANDED_OUTPUT/xhtml/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Add comprehensive validation report for EPUB normalization
  docs/NORMALIZATION_VALIDATION_REPORT.md
Due: none

Claude/normalize epub chapter layouts 01 mdvwky s rwau gk5a gfw9 m pj (#57)
  REBRANDED_OUTPUT/dist/The-Artisans-Path-Normalized.epub
  REBRANDED_OUTPUT/xhtml/10-chapter-ii-refining-your-creative-toolkit.xhtml
  REBRANDED_OUTPUT/xhtml/11-chapter-iii-reigniting-your-creative-fire.xhtml
  REBRANDED_OUTPUT/xhtml/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
  REBRANDED_OUTPUT/xhtml/19-chapter-ix-stepping-into-leadership.xhtml
  REBRANDED_OUTPUT/xhtml/20-chapter-x-crafting-enduring-legacies.xhtml
  REBRANDED_OUTPUT/xhtml/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml
  REBRANDED_OUTPUT/xhtml/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml
  REBRANDED_OUTPUT/xhtml/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml
  REBRANDED_OUTPUT/xhtml/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/28-Conclusion.xhtml
  REBRANDED_OUTPUT/xhtml/7-Preface.xhtml
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml
  docs/CHAPTER_NORMALIZATION_CHANGELOG.md
  docs/NORMALIZATION_VALIDATION_REPORT.md
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Add comprehensive final normalization summary report
  docs/FINAL_NORMALIZATION_SUMMARY.md
Due: none

Fix EPUB validation errors: Add missing CSS files and fix XML encoding
  REBRANDED_OUTPUT/content.opf
  REBRANDED_OUTPUT/xhtml/11-chapter-iii-reigniting-your-creative-fire.xhtml
  REBRANDED_OUTPUT/xhtml/38-journal-page.xhtml
  REBRANDED_OUTPUT/xhtml/43-DoodlePage.xhtml
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml
  REBRANDED_OUTPUT/xhtml/styles/fonts.css
  REBRANDED_OUTPUT/xhtml/styles/print.css
  docs/EPUBCHECK_FINAL_REPORT.txt
  docs/EPUBCHECK_FINAL_VALIDATION.txt
  docs/EPUBCHECK_VALIDATION_REPORT.txt
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Fix critical HTML comment bugs in Chapters XI and XII
  REBRANDED_OUTPUT/xhtml/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml
  REBRANDED_OUTPUT/xhtml/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Complete EPUB validation fixes and Professional Development worksheet restoration
  .gitignore
  REBRANDED_OUTPUT/content.opf.backup
  REBRANDED_OUTPUT/dist/epubcheck-final.json
  REBRANDED_OUTPUT/dist/epubcheck-final.txt
  REBRANDED_OUTPUT/styles/artisan-path-style.css
  REBRANDED_OUTPUT/xhtml/11-chapter-iii-reigniting-your-creative-fire.xhtml
  REBRANDED_OUTPUT/xhtml/3-TableOfContents.xhtml
  REBRANDED_OUTPUT/xhtml/38-journal-page.xhtml
  REBRANDED_OUTPUT/xhtml/39-professional-development.xhtml
  REBRANDED_OUTPUT/xhtml/43-DoodlePage.xhtml
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml
  REBRANDED_OUTPUT/xhtml/nav.xhtml
  REBRANDED_OUTPUT/xhtml/styles/fonts.css
  REBRANDED_OUTPUT/xhtml/styles/print.css
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Fix all EPUBCheck errors and warnings - achieve 0/0 validation
  REBRANDED_OUTPUT/content.opf
  REBRANDED_OUTPUT/xhtml/6-affirmation-odyssey.xhtml
  REBRANDED_OUTPUT/xhtml/nav.xhtml
  REBRANDED_OUTPUT/xhtml/styles/print-pod.css
  REBRANDED_OUTPUT/xhtml/styles/print.css
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Fix EPUB structure and standardize all 16 chapters (#59)
  .gitignore
  REBRANDED_OUTPUT/content.opf.backup
  REBRANDED_OUTPUT/dist/epubcheck-final.json
  REBRANDED_OUTPUT/dist/epubcheck-final.txt
  REBRANDED_OUTPUT/styles/artisan-path-style.css
  REBRANDED_OUTPUT/xhtml/11-chapter-iii-reigniting-your-creative-fire.xhtml
  REBRANDED_OUTPUT/xhtml/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml
  REBRANDED_OUTPUT/xhtml/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml
  REBRANDED_OUTPUT/xhtml/3-TableOfContents.xhtml
  REBRANDED_OUTPUT/xhtml/38-journal-page.xhtml
  REBRANDED_OUTPUT/xhtml/39-professional-development.xhtml
  REBRANDED_OUTPUT/xhtml/43-DoodlePage.xhtml
  REBRANDED_OUTPUT/xhtml/6-affirmation-odyssey.xhtml
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml
  REBRANDED_OUTPUT/xhtml/nav.xhtml
  REBRANDED_OUTPUT/xhtml/styles/fonts.css
  REBRANDED_OUTPUT/xhtml/styles/print.css
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Add final validated curls.epub for distribution
  REBRANDED_OUTPUT/dist/curls.epub
Due: none

Claude/epub structure layout fixes 014w ev btyhr p3vs qr3rhov ve (#60)
  REBRANDED_OUTPUT/dist/curls.epub
Due: none

feat(dist): add The-Artisans-Path-Normalized.epub binary file
  REBRANDED_OUTPUT/dist/The-Artisans-Path-Normalized.epub
Due: none

fix(xhtml): escape ampersand in chapter subtitle
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Revert "Claude/epub structure layout fixes 014w ev btyhr p3vs qr3rhov ve (#60)"
  REBRANDED_OUTPUT/dist/curls.epub
Due: none

Revert "Claude/epub structure layout fixes 014w ev btyhr p3vs qr3rhov ve (#60)" (#63)
  REBRANDED_OUTPUT/dist/curls.epub
Due: none

feat: Generate XHTML Chapter Title Page Templates for 16 chapters (#52)
  CHAPTER_VERIFICATION_REPORT.md
  REBRANDED_OUTPUT/styles/fonts.css
  REBRANDED_OUTPUT/styles/print.css
  REBRANDED_OUTPUT/styles/style.css
  REBRANDED_OUTPUT/xhtml/10-chapter-ii-refining-your-creative-toolkit.xhtml
  REBRANDED_OUTPUT/xhtml/11-chapter-iii-reigniting-your-creative-fire.xhtml
  REBRANDED_OUTPUT/xhtml/13-chapter-iv-the-art-of-networking-in-freelance-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/14-chapter-v-cultivating-creative-excellence-through-mentorship.xhtml
  REBRANDED_OUTPUT/xhtml/15-chapter-vi-mastering-the-business-of-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/16-chapter-vii-embracing-wellness-and-self-care.xhtml
  REBRANDED_OUTPUT/xhtml/17-chapter-viii-advancing-skills-through-continuous-education.xhtml
  REBRANDED_OUTPUT/xhtml/19-chapter-ix-stepping-into-leadership.xhtml
  REBRANDED_OUTPUT/xhtml/20-chapter-x-crafting-enduring-legacies.xhtml
  REBRANDED_OUTPUT/xhtml/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml
  REBRANDED_OUTPUT/xhtml/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml
  REBRANDED_OUTPUT/xhtml/23-chapter-xiii-embracing-ethics-and-sustainability-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/25-chapter-xiv-the-impact-of-ai-on-the-beauty-industry.xhtml
  REBRANDED_OUTPUT/xhtml/26-chapter-xv-cultivating-resilience-and-well-being-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/27-chapter-xvi-tresses-and-textures-embracing-diversity-in-hairstyling.xhtml
  REBRANDED_OUTPUT/xhtml/9-chapter-i-unveiling-your-creative-odyssey.xhtml
  create_chapters.py
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

[WIP] Remove generated epubcheck report from version control (#65)
  .gitignore
  REBRANDED_OUTPUT/dist/epubcheck-final.json
  REBRANDED_OUTPUT/dist/epubcheck-final.txt
  artifacts/validation/EPUBCHECK_LOG.txt
  dist/epubcheck-output.json
  dist/epubcheck-output.txt
  epubcheck-report.json
  epubcheck-report.txt
Due: none

Claude/normalize epub chapter layouts 01 mdvwky s rwau gk5a gfw9 m pj (#66)
  REBRANDED_OUTPUT/xhtml/20-chapter-x-crafting-enduring-legacies.xhtml
  REBRANDED_OUTPUT/xhtml/21-chapter-xi-advanced-digital-strategies-for-freelance-hairstylists.xhtml
  REBRANDED_OUTPUT/xhtml/22-chapter-xii-financial-wisdom-building-sustainable-ventures.xhtml
  REBRANDED_OUTPUT/xhtml/styles/fonts.css
  docs/EPUBCHECK_FINAL_REPORT.txt
  docs/EPUBCHECK_FINAL_VALIDATION.txt
  docs/EPUBCHECK_VALIDATION_REPORT.txt
Due: epub-asset-validation, epub-path-regression-test, xhtml-formatting, epub-structure-validation

Restore curls.epub and validation artifacts from commit 8d2d31b (#69)
  REBRANDED_OUTPUT/dist/curls.epub
  REBRANDED_OUTPUT/dist/epubcheck-final.json
  REBRANDED_OUTPUT/dist/epubcheck-final.txt
Due: none

docs(epub-validation): add comprehensive EPUB validation report
  docs/EPUB_VALIDATION_REPORT.md
Due: none

Update REBRANDED_OUTPUT/xhtml/styles/fonts.css
  REBRANDED_OUTPUT/xhtml/styles/fonts.css
Due: epub-asset-validation, epub-path-regression-test, epub-structure-validation

Update docs/EPUB_VALIDATION_REPORT.md
  docs/EPUB_VALIDATION_REPORT.md
Due: none

Fix CSS file headers to use correct book title (#72)
  REBRANDED_OUTPUT/xhtml/styles/print.css
  REBRANDED_OUTPUT/xhtml/styles/style.css
Due: epub-asset-validation, epub-path-regression-test, epub-structure-validation

Fix HTML entities in markdown and standardize CSS header comments (#73)
  docs/EPUB_VALIDATION_REPORT.md
Due: none

Test: verify authentication setup
  .auth-test-file
Due: none

Remove authentication test file
  .auth-test-file
Due: none

Path conditions:
  epub-asset-validation: any of: \.(xhtml|css|opf)$
  epub-path-regression-test: any of: \.(xhtml|css|opf)$
  xhtml-formatting: any of: \.xhtml$
  epub-structure-validation: any of: \.(xhtml|css|opf|xml)$
